@import "tailwindcss";

:root {
  --button-bg: #8ea94d;
}

@theme inline {
  --color-button-bg: var(--button-bg);
}

body {
  background: #0a1d20;
  color: white;
  font-family: var(--font-gilroy);
}

.font-urbanist {
  font-family: var(--font-urbanist);
}

.font-gilroy {
  font-family: var(--font-gilroy);
}

.para {
  @apply text-base md:text-xl text-[#B5B5B5] leading-5 md:leading-6 font-normal;
}

.max-width {
  @apply max-w-7xl mx-auto px-6 md:px-8;
}
